// Основной шрифт

@font-face {
    font-family: 'Agrandir-TextBold';
    src: url("C:\\Users\\alexv\\Downloads\\Web-Site Gubin\\fonts\\Agrandir-TextBold.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// Заголовки p

@font-face {
    font-family: 'Agrandir-Regular';
    src: url("C:\\Users\\alexv\\Downloads\\Web-Site Gubin\\fonts\\Agrandir-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// Для input, button, и тд

@font-face {
    font-family: 'Quicksand-Bold';
    src: url("C:\\Users\\alexv\\Downloads\\Web-Site Gubin\\fonts\\Quicksand-Bold.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
