.button {
    @include reset-button;
    @include flued-text(12, 14);
    padding-top: 3px;
    text-transform: uppercase;
    border-radius: 10px;
    border: var(--border-button);
    border-width: 2px;
    color: var(--color-dark);
    background-color: var(--color-yellow);
}