.form {
    display: flex;
    justify-content: center;
    padding-block: 80px;

    @include tablet {
        padding-block: 60px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: var(--color-yellow);
        border: var(--border-input);
        border-width: 1px;
        border-radius: var(--border-raduis-block);
        width: 100%;
        max-width: 1100px;
        padding: 24px;
    }

    &__title {
        color: var(--color-dark);
        padding-top: 40px;
        padding-bottom: 24px;

        @include tablet {
            padding-top: 20px;
        }
    }

    &__sub-title {
        color: var(--color-dark);
        opacity: 0.6;
        max-width: 600px;
        padding-bottom: 16px;
    }

    &__input {
        width: 100%;
        max-width: 300px;
        height: 45px;
        border: var(--border-input);
        border-radius: var(--border-radius-input);
        padding-left: 10px;
        margin-bottom: 24px;

        &::placeholder {
            color: var(--color-dark);
        }

        @include tablet {
            margin-bottom: 16px;
        }
    }

    &__button {
        height: 45px;
        border: 1px solid var(--color-dark);
        border-radius: 30px;
        padding-inline: 16px;
        color: var(--color-light);
        background-color: var(--color-dark);

        @include hover {
            background-color: var(--color-light);
            color: var(--color-dark)
        }
    }
}