.location {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-block: 80px;
    background-color: var(--color-dark-alternate);

    @include tablet {
        row-gap: 24px;
        padding-block: 60px;
    }

    &__title {
        align-self: center;
    }

    &__stars {
        display: flex;
        column-gap: 30px;
        justify-content: space-around;
        max-width: 1440px;
        width: 100%;
        margin-inline: auto;
        margin-top: 60px;

        @include desktop {
            justify-content: space-evenly
        }

        @include tablet {
            margin-top: 40px;
            flex-wrap: wrap;
        }
    }

    &__star {
        @include square(400px);
        @include flex-center;

        background: linear-gradient(90deg, red, var(--color-yellow));
        clip-path: polygon(24% 8%, 71% 10%, 96% 33%, 93% 67%, 81% 91%, 19% 96%, 5% 51%);

        @include desktop {
            @include square(300px)
        }

        @include tablet {
            @include square(250px)
        }

        &:first-child {
            rotate: 90deg;

            .location__star-title {
                rotate: -90deg;
            }
        }

        &:last-child {
            rotate: -90deg;

            .location__star-title {
                rotate: 90deg;
            }
        }

        &-title {
            @include flued-text(18, 28);
            background-image: linear-gradient(90deg,  var(--color-dark), #801818, var(--color-dark));
            color: transparent;
            -webkit-background-clip: text;
        }
    }

    &__sub-title {
        max-width: 800px;
        text-align: center;
        align-self: center;
        color: var(--color-gray);
    }


}