.mobileOverlay {

    padding: 0;
    margin: 0;
    border: 0;
    padding-inline: 70px;

    &:modal {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        padding-top: 40px;
        background-color: var(--color-dark);

        @include mobile {
            padding-top: 20px;
        }
    }

    @include tablet {
        padding-inline: 50px;
    }

    @include mobile {
        padding-inline: 30px;
    }

    &__title {
        position: absolute;
        top: 40px;
        justify-self: center;
        color: var(--color-light);
        font-family: 'QuickSand-Bold';
        font-weight: lighter;
    }

    &__button {
        @include square(40px);
        @include flex-center;
        @include reset-button;

        justify-self: end;
        
        @include hover {
            opacity: 0.5;
        }

        @include mobile {
            @include square(34px);
        }
    }

    &__button-new {
        @include flex-center;
        @include reset-button;

        justify-self: end;
        
        @include hover {
            opacity: 0.5;
        }

        @include mobile {
            @include square(34px);
        }
    }

    &__span {
        @include flex-center;
        position: relative;
        background-color: var(--color-yellow);
        width: 80%;
        height: 2px;
        rotate: 45deg;


        &::after {
            content: '';
            position: absolute;
            background-color: var(--color-yellow);
            width: 100%;
            height: 2px;
            rotate: -90deg;
        }

    }

    .header__list {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 18px;
        color: var(--color-light);
        left: 0;

        &-item:first-child {
            .header__list-title {
                left: 0;
            }
        }
    }
    
}