.cart-object {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border: var(--border-input);
    border-radius: var(--border-raduis-block);
    border-width: 1px;
    background-color: var(--color-dark-alternate);
    transition-duration: var(--transition-duration);

    &__image {
        border-radius: 10px;
        margin-bottom: 16px;
        width: 329px;
        height: clamp(248px, 25.4vw, 488px);

        @include desktop {
            height: 368px;
        }

        @include mobile {
            height: clamp(248px, 17.1vw, 329px);
            width: 180px;
        }
    }

    &-op__image {
        width: clamp(248px, 17.1vw, 329px);
        height: clamp(248px, 17.1vw, 329px);

        @include desktop {
            height: 248px;
        }

        @include mobile {
            height: 200px;
        }
    }

    &__block-titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 24px;
    }

    &__title {
        @include flued-text(18, 24);
        width: 100%;
        padding-bottom: 8px;
    }

    &__price {
        @include flued-text(14, 20);
        font-family: 'Agrandir-Regular';
        font-weight: lighter;
    }

    &__rating {
        @include flued-text(14, 18);
        position: relative;
        font-family: 'Agrandir-Regular';
        font-weight: lighter;

        &::after {
            content: '';
            position: absolute;
            background: url("../icons/star.svg") no-repeat center/cover;
            width: clamp(7px, 0.5vw, 10px);
            height: clamp(7px, 0.5vw, 10px);
            right: -60%;
            top: 17%;
        }
    }

    &__button {
        width: 100%;
        height: 25px;
        max-width: 150px;
        align-self: center;
        margin-top: auto;

        @include hover {
            background-color: var(--color-dark-alternate);
            color: var(--color-light);
            border-width: 1px;
        }
    }
}