.mobileFavourites {

    padding: 0;
    border: 0;
    width: 700px;
    height: 800px;
    border: 1px solid var(--color-light);
    border-radius: 15px;
    text-align: center;


    @include tablet {
        width: 500px;
        height: 600px;
    }
    
    
    .mobileOverlay__button-new {
        @include square(20px);
        margin-right: 20px;
        margin-top: 20px;
    }

    .mobileCart__summary-title {
        @include mobile {
            white-space: normal;
        }
    }

    .mobileCart__summary {
        align-items: center;
    }

    .Basket {
        width: 94.5%;

        @include mobile {
            top: 89px;
        }

        &__size {
            margin-left: 15px;
            padding-top: 0;
            white-space: nowrap;
        }

        &__button-add-cart,
        &__button-delete-fave {
            width: 100%;
            height: 40px;

            @include mobile {
                height: 30px;
            }
        }

        &__bottom {

            @include mobile {
                column-gap: 10px;
            }
        }


        &__title {
            text-align: start;
        }

        &__form-button {
            display: flex;
            justify-content: start;
        }
    }


    &__title {
        position: relative;
        top: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--color-light);
        
    }


}