.mobileCart {
    position: fixed;
    width: clamp(300px, 41.6vw, 800px);
    background-color: var(--color-dark-alternate);
    border: var(--border-input);
    border-radius: var(--border-raduis-block);
    color: var(--color-light);
    overflow: hidden;
    padding: 0;
    padding: 24px;

    @include desktop {
        overflow-y: scroll;
        height: 360px;
    }

    .absolute__button {
        position: absolute;
        top: 0;
        right: 2%;
        @include square(20px);
        margin-right: 15px;
        margin-top: 15px;

        @include mobile {
            svg {
               width: 20px;
               height: 20px;
               margin-top: 0;
               margin-right: -10px;
            }
    }
       
    }

    .mobileOverlay__form {
        position: relative;
    }

    .mobileOverlay__button {
        width: clamp(18px, 1.5vw, 30px);
        height: clamp(18px, 1.5vw, 30px);
        position: absolute;
        left: 0;
        top: 0;
    }

    &__block {
        display: flex;
        
        @include desktop {
            flex-direction: column;
            align-items: center;
        }
    }

    &__titles {
        display: flex;
        flex-direction: column;
        padding-block: 10px;
        width: 50%;
        margin-left: auto;

        @include desktop {
            margin-left: 0;
            align-items: center;
        }

        &-two {
            display: flex;
            align-items: center;
            column-gap: 24px;

            @include desktop {
                column-gap: 8px;
            }
        }
    }

    &__title {
        @include flued-text(20, 28);
        padding-bottom: 16px;

        @include desktop {
            padding-top: 8px;
            white-space: nowrap;
        }
    }

    &__price {
        @include flued-text(14, 20);
        font-family: 'Agrandir-Regular';
        font-weight: lighter;
    }

    &__rating {
        @include flued-text(14, 18);
        position: relative;
        font-family: 'Agrandir-Regular';
        font-weight: lighter;

        &::after {
            content: '';
            position: absolute;
            background: url("../icons/star.svg") no-repeat center/cover;
            width: clamp(7px, 0.5vw, 10px);
            height: clamp(7px, 0.5vw, 10px);
            right: -60%;
            top: 17%;
        }
    }

    &__otziv {
        @include reset-button;
        @include flued-text(10, 14);
        margin-left: 10px;
        background-color: var(--color-yellow);
        height: 30px;
        text-transform: uppercase;
        border: var(--border-button);
        padding-inline: 5px;
        padding-top: 3px;
        line-height: 1.2;
        border-radius: 5px;

        @include desktop {
            height: 20px;
            white-space: nowrap;
        }

        @include hover {
            background-color: var(--color-dark);
            color: var(--color-light);
        }


    }

    &__image {
        align-self: start;

        @include desktop {
            height: 308px;
            align-self: center;
        }

        @include mobile {
            height: clamp(248px, 17.1vw, 329px);
        }
    }


    &__details[open] {
        .mobileCart__open-window {

            &::after {
                rotate: 0deg;
            }
        }

        @include desktop {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__summary {
        display: flex;
        align-items: center;
        column-gap: 8px;
        list-style: none;
        padding-top: 16px;
        padding-bottom: 6px;
        cursor: pointer;

        @include desktop {
            padding-top: 8px;
        }

        @media(max-width: 450px) {
            flex-direction: column;
        }

        &-title {
            @include flued-text(14, 18);
            font-family: 'Quicksand-Bold';
            font-weight: lighter;
            white-space: nowrap;
        }
    }

    &__open-window {
        position: relative;
        @include flex-center;
        background-color: var(--color-dark-alternate);
        border-radius: 50%;
        border: var(--border-button);
        width: clamp(15px, 1.30vw, 25px);
        height: clamp(15px, 1.30vw, 25px);
        flex-shrink: 0;

        &::after {
            content: '';
            position: absolute;
            width: 40%;
            height: 1px;
            background-color: var(--color-yellow);
            rotate: 90deg;
        }

        &::before {
            content: '';
            position: absolute;
            width: 40%;
            height: 1px;
            background-color: var(--color-yellow);
        }

    }

    &__sub-title {
        color: var(--color-gray);
        padding-bottom: 8px;
        font-family: 'Agrandir-Regular', sans-serif;
        line-height: 1.4;

        @include desktop {
            min-width: 200px;
        }
    }

    &__label {
        @include flued-text(14, 18);
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        position: relative;
        padding-bottom: 8px;
        font-family: 'Quicksand-Bold';
        font-weight: lighter;
        cursor: default;

        @include desktop {
            width: 150%;
        }

        @include hover {
            .mobileCart__arrow {
                opacity: 0.5;
            }

            select {
                opacity: 0.5;
            }
        }
    }

    &__arrow {
        position: absolute;
        width: 10px;
        height: 10px;
        top: 61%;
        left: calc(98% - 30px);

        &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 1px;
            background-color: var(--color-light);
            rotate: 45deg;
            left: 5px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 1px;
            background-color: var(--color-light);
            rotate: -45deg;
            left: 12px;
        }
    }

    &__select {
        position: relative;
        height: 35px;
        padding-left: 8px;
        padding-top: 2px;
        appearance: none;
        background-color: transparent;
        color: var(--color-light);
        cursor: pointer;

        option {
            background-color: var(--color-dark-alternate);
        }
    }

    &__button-form {
        width: 100%;
    }
    
    &__button {
        margin-top: 16px;
        padding-top: 3px;
        height: 45px;
        width: 100%;

        @include desktop {
            height: 35px;
            margin-top: 8px;
        }

        @include hover {
            background-color: var(--color-dark-alternate);
            color: var(--color-light);
        }
    }


}